.page-main-signup{
    width: 25%;
    padding: 1rem;
    background-color: #fbfbf9;
    height: 95vh;
}
.page-main-head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-page-btn{
    height: 18vh;
    display: flex;
    flex-direction: column-reverse;
}